<%= link_to("register", new_user_path) %>

<h1>All Posts</h1>
<%= link_to("create post", new_user_post_path(session[:user_id])) %>


<% @posts.each do |post| %>
  <p><%= post.title %> <a href="<%=post_path(post) %>">details</a></p>
  <!-- route-prefix_path(dynamic portion) -->
<% end %>

